@page "/"
@inject AuthService authService
@inject NavigationManager navigation
@using BookDesktop.Models
@using BookDesktop.Service

<div class="w-50 m-auto">
    <h3>Авторизация</h3>
    <EditForm Model="@Person" OnValidSubmit="@Submit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Логин</label>
            <InputText class="form-control" @bind-Value="Person!.Login" id="exampleInputEmail1" />
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Пароль</label>
            <InputText type="password" class="form-control" @bind-Value="Person!.Password" id="exampleInputPassword1" />
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </EditForm>
</div>

@code
{
    Person Person = default!;

    private void Submit()
    {
        if (Person.Login != "" && Person.Password != "")
        {
            authService.Login(navigation, Person.Login!, Person.Password!);
        }
    }

    protected override void OnInitialized()
    {

        base.OnInitialized();
        Person = new();
    }

}