@page "/personal_page"
@inject AuthService authService
@inject NavigationManager navigation
@using BookDesktop.Service


<Menu/>

<h1>@authService.CurrentUser</h1>
<div>
    <button style="margin: auto" type="button" class="btn btn-warning" onclick="@Logout">
        <i class="bi bi-box-arrow-right" title="Выйти"></i>
        Выйти
    </button>
</div>


@code {

    public void Logout()
    {
        authService.CurrentUser = null;
        navigation.NavigateTo("/");
    }

}