@page "/personal_page"
@inject AuthService authService
@inject NavigationManager navigation
@using BookDesktop.Service


<Menu></Menu>

<h1>@authService.CurrentUser</h1>
<button type="button" class="btn btn-warning" onclick="@Logout">Выйти</button>

@code {
    public void Logout()
    {
        authService.CurrentUser = null;
        navigation.NavigateTo("/");
    }
}